/ahorcado/Cliente/nbproject/private/
/ahorcado/Cliente/build/
/Tarea 4 - Ahorcado/Tarea4/build/
/Tarea 4 - Ahorcado/Tarea4/nbproject/private/
/Práctica 1 y Tarea 2 - Envio archivos/build/
/Práctica 1 y Tarea 2 - Envio archivos/nbproject/private/
/Práctica 1 - FTP y Tarea 2 - Envio archivos/build/
/Práctica 1 - FTP y Tarea 2 - Envio archivos/nbproject/private/
/ExamenPrimerParcial - Buscaminas/build/
/ExamenPrimerParcial - Buscaminas/nbproject/private/
/Práctica 2 - Carrito/CarritoCliente/build/
/Práctica 2 - Carrito/CarritoCliente/nbproject/private/
/Práctica 2 - Carrito/Carrito_Servidor/build/
/Práctica 2 - Carrito/Carrito_Servidor/nbproject/private/